.block {
  display: flex;
  width: 50%;
  height: auto;
  padding: 15px 0px 15px 25px;
}

.img {
  max-height: 136.41px;
  max-width: 96.74px;
}

.content {
  padding-left: 9px;
}

.chapter {
  color: #555555;
  padding-top: 5px;
}
